@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(310deg, rgba(57,255,243,1), rgba(0,16,171,0.96));
}

.ph{
    display: grid;
    padding: 20px;
    grid-template-rows: auto 250px auto;
    background-color: white;
    border-radius: 30px;
    width: 350px;
    /* box-shadow: 2px 50px 100px 1px; */
    filter: drop-shadow(0px 100px 50px #000000a0);
}

.title{
    font-size: 38px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.digit{
    font-size: 220px;
    display: flex;
    position: relative;
    top: -20px;
    justify-content: center;
    background: linear-gradient(270deg, rgba(57,255,243,1), rgba(0,16,171,0.96));
    background-clip: text;
    color: transparent;
    font-weight: 600;
    -webkit-background-clip: text;
}

.btn_ph{
    display: flex;
    position: relative;
    height: min-content;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
}

.btn{
    height: 50px;
    font-family: "Poppins";
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: 3px solid #0c1ba4;
    filter: drop-shadow(2px 8px 6px #b9bffa);
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #0c1ba4;
    padding: 25px 10px 25px 10px;
}

.btn:hover{
    color: white;
    background-color: #0c1ba4;
    transition: 0.2s;
    cursor: pointer;
}

.btn:hover::before{
    background-color: white;
    color: #0c1ba4;
    transition: 0.2s;
}

.btn::before{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 10px;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    background-color: #0c1ba4;
}

.inc::before{content: "+"}
.dec::before{content: "-"}